/* estilos.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* hace que el contenido principal se expanda */
  display: flex;
  flex-direction: column;
}




.header-bg {
  background-image: url('../imgs/Header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px; /* puedes ajustar este valor */
}